body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/background.jpg')
}

.center_div{
  position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 400px;
   height: 450px;
}

.txtfield{
 width: 300px;
}